@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./index.css";

@layer base {
  @font-face {
    font-family: "WebSymbolsRegular";
    src: url("./fonts/websymbols-regular-webfont.eot");
    src: url("./fonts/websymbols-regular-webfont.eot?#iefix")
        format("embedded-opentype"),
      url("./fonts/websymbols-regular-webfont.woff") format("woff"),
      url("./fonts/websymbols-regular-webfont.ttf") format("truetype"),
      url("./fonts/websymbols-regular-webfont.svg#WebSymbolsRegular")
        format("svg");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "TrebuchetMS";
    src: url("./fonts/TrebuchetMS.ttf");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "BebasNeue";
    src: url("./fonts/BebasNeue.otf");
    font-weight: normal;
    font-style: normal;
  }

  .symbol {
    font-family: "WebSymbolsRegular";
  }

  .bebas {
    font-family: "BebasNeue";
  }

  .trebuchet {
    font-family: "TrebuchetMS";
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.button-basic {
  @apply transition duration-300 transform hover:scale-105 bg-red-500 text-white p-1 mx-1 rounded text-xl font-bold overflow-visible;
}
